section {
    background-color: var(--color-platinum);
    padding-top: 10px;
    width: 100%;
    min-height: 100vh;
}

.blog-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.blog-list li {
    background-color: whitesmoke;
    padding: 20px 20px;
    border-radius: 4px;
    box-shadow: .25rem .5rem 1rem 0 rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px);
    max-width: 500px;
}

.article-link {
    text-decoration: none;
    color: var(--color-spring-green);
}

.title-author, .comments-shares {
    display: flex;
    gap: 20px;
    align-items: center;
}

.title-author p, .comments-shares p {
    font-weight: 300;
}

.comments-shares{
    gap: 5px;
}

.blog-list li:last-child {
    margin-bottom: 20px;
}