button {
    color: var(--color-jet-black);
    background-color: var(--color-spring-green);
    border: none;
    padding: 20px 10px;
    font-size: 1rem;
    font-weight: 800;
    margin: 10px;
    cursor: pointer;
    border-radius: 3px;
}
